<div>
    <form [formGroup]="roomStateForm">
        <mat-form-field appearance="fill">
            <mat-label>Actual room state</mat-label>
            <mat-select
                name="room-state"
                [formControl]="roomStateCtrl"
            >
                <mat-option
                    *ngFor="let state of roomStateOptions"
                    [value]="state"
                >
                    {{state}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button
            [disabled]="roomStateCtrl.value === room.roomState"
            mat-raised-button
            (click)="handleRoomStateChange()"
        >
            Set room state
        </button>

    </form>
</div>
