<div>
    <mat-card-header>
        <mat-card-title>

            <div>Room number: {{room.roomNumber}}</div>
            <div
                ngIf="room.markedForCheck"
                [ngClass]="{markedForCheck: room.markedForCheck}"
                *appUserRoleView="AuthLevel.WORKER"
            >
                Room needs to be checked!!
            </div>

        </mat-card-title>
    </mat-card-header>

    <mat-card-subtitle *appUserRoleView="AuthLevel.ADMIN">
        <div>Room price: {{room.pricePerDay}}</div>
    </mat-card-subtitle>

    <mat-card-content>
        <div>Room state: {{room.roomState}}</div>

        <ng-container *ngIf="room.roomAds.length > 0">
            <div>
                Campaing Description: {{room.roomAds[0].adBasicData.adDescription}}
            </div>

            <div>
                Selected ad providers: {{room.roomAds[1] | viewSelectedAds}}
            </div>

            <div>
                Selected time of duration: {{room.roomAds[0].adBasicData.campaignDuration.start | date : 'dd/MM/yyyy'}} --- {{room.roomAds[0].adBasicData.campaignDuration.end | date: 'dd/MM/yyyy' }}
            </div>
        </ng-container>

    </mat-card-content>

    <mat-card-actions>
        <div>
            <ng-content></ng-content>
        </div>

    </mat-card-actions>

</div>
