<div>
    <mat-card-header>
        <mat-card-title>

            <div>Room number: {{room.roomNumber}}</div>
            <div
                *appUserRoleView="AuthLevel.WORKER"
                [ngClass]="{markedForCheck: room.markedForCheck}"
            >
                Room needs to be checked!!
            </div>

        </mat-card-title>
    </mat-card-header>

    <mat-card-subtitle *appUserRoleView="AuthLevel.ADMIN">
        <div>Room price: {{room.pricePerDay}}</div>
    </mat-card-subtitle>

    <mat-card-content>
        <div>Room state: {{room.roomState}}</div>

        <mat-divider></mat-divider>

        <ng-container
            class="ad-container"
            *ngIf="room.roomAds"
        >
            <ng-container *ngFor="let roomAd of room.roomAds; let i = index">

                <div>
                    Campaign number {{i +1}}
                    <div>
                        Campaing Description: {{roomAd.adBasicDataForm.adDescription}}
                    </div>

                    <div>
                        Selected ad providers: {{roomAd.targetAdServicesForm | viewSelectedAds}}
                    </div>

                    <div>
                        Selected time of duration: {{roomAd.adBasicDataForm.campaignDuration.start| date : 'dd/MM/yyyy'}} --- {{roomAd.adBasicDataForm.campaignDuration.end| date: 'dd/MM/yyyy' }}
                    </div>
                </div>
                <mat-divider></mat-divider>

            </ng-container>

        </ng-container>

    </mat-card-content>

    <mat-card-actions>
        <div>
            <ng-content></ng-content>
        </div>

    </mat-card-actions>

</div>
