<div>
    <mat-card-header>
        <mat-card-title>
            <!-- TODO: [ngClass]="{markedForCheck: room.markedForCheck; notMarkedForCheck: !room.markedForCheck}" -->
            <div>Room number: {{room.roomNumber}}</div>
            <div
                [ngClass]="{markedForCheck: room.markedForCheck}"
                *appUserRoleView="AuthLevel.WORKER"
            >
                Room needs to be checked!!
            </div>

        </mat-card-title>
    </mat-card-header>

    <mat-card-subtitle *appUserRoleView="AuthLevel.ADMIN">
        <div>Room price: {{room.pricePerDay}}</div>
    </mat-card-subtitle>

    <mat-card-content>
        <div>Room state: {{room.roomState}}</div>
    </mat-card-content>

    <mat-card-actions>
        <div>
            <ng-content></ng-content>
        </div>

    </mat-card-actions>

</div>
