<ng-container *ngIf="hotelRoomsObservable$ | async as rooms">
    <div *ngFor="let room of rooms">
        <mat-card>
            <app-room-view [room]="room">

                <app-admin-actions
                    (roomStateChangeEmitted)="handleRoomStateChange($event)"
                    #adminActions
                    [room]="room"
                ></app-admin-actions>

                <app-worker-actions
                    *appUserRoleView="AuthLevel.WORKER"
                    [room]="room"
                ></app-worker-actions>

            </app-room-view>

        </mat-card>

    </div>

</ng-container>
