<ng-container *ngIf="hotelRoomsObservable$ | async as rooms">
    <div *ngFor="let room of rooms">
        <app-room-view
            [room]="room"
            appUserRoleView
        >
            <!-- <div *ngIf="authLevel === AuthLevel.ADMIN then adminActions else workerActions "></div>

            <ng-template #adminActions>
                <app-admin-actions
                    (roomStateChangeEmitted)="handleRoomStateChange($event)"
                    [room]="room"
                ></app-admin-actions>
            </ng-template>

            <ng-template #workerActions>
                <app-worker-actions></app-worker-actions>
            </ng-template> -->

            <div></div>

        </app-room-view>
    </div>

</ng-container>
