<ng-container *ngIf="hotelRoomsObservable$ | async as rooms">
    <div *ngFor="let room of rooms">
        <app-room-view [room]="room">
            <div *ngIf="authLevel === 'admin' then adminActions else workerActions "></div>

            <ng-template #adminActions>
                <app-admin-actions
                    (roomStateChangeEmitted)="handleRoomStateChange($event)"
                    [roomData]="{
                    roomNr: room.roomNumber,
                    roomState: room.roomState
                  }"
                ></app-admin-actions>
            </ng-template>

            <ng-template #workerActions>
                <app-worker-actions></app-worker-actions>
            </ng-template>

        </app-room-view>
    </div>

</ng-container>
