<form
    [formGroup]="formGroup"
    (submit)="handleSubmit()"
>

    <div>

        <mat-form-field appearance="fill">

            <mat-label>Advertisement title</mat-label>
            <input
                matInput
                [formControl]="formGroup.controls.adTitle"
                placeholder="Advertisement title"
            >
            <mat-error>Field is required</mat-error>
        </mat-form-field>
    </div>
    <div>

        <mat-form-field appearance="fill">

            <mat-label>Description</mat-label>
            <input
                matInput
                [formControl]="formGroup.controls.adDescription"
                placeholder="Description"
            >
            <mat-error>Field is required</mat-error>
        </mat-form-field>
    </div>
    <div>

        <mat-form-field appearance="fill">

            <mat-label>Advertisement time range</mat-label>
            <mat-date-range-input
                [formGroup]="formGroup.controls.campaignDuration"
                [rangePicker]="picker"
            >
                <input
                    appDatepickerMask
                    matStartDate
                    [formControl]="formGroup.controls.campaignDuration.controls.start"
                    placeholder="Start date"
                >
                <input
                    appDatepickerMask
                    matEndDate
                    [formControl]="formGroup.controls.campaignDuration.controls.end"
                    placeholder="End date"
                >
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>

            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="formGroup.controls.campaignDuration">Invalid start date</mat-error>
            <mat-error *ngIf="formGroup.controls.campaignDuration.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            <mat-error>Field is required</mat-error>
        </mat-form-field>
    </div>

    <app-multi-step-form-navigation
        [canNavigateBack]="false"
        [canNavigateForward]="formGroup.valid"
    ></app-multi-step-form-navigation>
</form>
