<mat-stepper #stepper>
    <mat-step
        [stepControl]="basicAdData"
        errorMessage="Ad data is required!"
    >

        <ng-template matStepLabel>Fill ad basic data</ng-template>
        <app-ad-basic-data-form [formName]="basicAdData"></app-ad-basic-data-form>
        <app-multi-step-form-navigation [canNavigateBack]="false"></app-multi-step-form-navigation>
    </mat-step>
    <mat-step
        [stepControl]="targetAdServices"
        errorMessage="Step is requiered"
    >
        <ng-template matStepLabel>Select ad services</ng-template>

        <app-ad-target-data-form [formName]="targetAdServices"></app-ad-target-data-form>

        <app-multi-step-form-navigation [data]="targetAdServices"></app-multi-step-form-navigation>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Add advertisement to room</ng-template>
        <p>
            Select rooms in which you want ad to be visible
        </p>

        <ng-template matStepLabel>Fill out your address</ng-template>

        <app-room-ad-select-form></app-room-ad-select-form>
        <div>
            <app-multi-step-form-navigation></app-multi-step-form-navigation>

            <button
                mat-button
                (click)="stepper.reset()"
            >
                Reset
            </button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>

            <app-multi-step-form-navigation [canNavigateForward]="false"></app-multi-step-form-navigation>
            <button
                mat-button
                (click)="stepper.reset()"
            >
                Reset
            </button>
        </div>

    </mat-step>
</mat-stepper>
