<mat-stepper #stepper>
    <!-- basic ad data form -->
    <mat-step
        [stepControl]="basicAdData"
        errorMessage="Ad data is required!"
    >
        <ng-template matStepLabel>Fill ad basic data</ng-template>
        <app-ad-basic-data-form
            [formGroup]="basicAdData"
            (formDataEmitted)="handleFormDataSubmit($event)"
        ></app-ad-basic-data-form>

    </mat-step>
    <!-- handle select ad services form -->
    <mat-step
        [stepControl]="targetAdServices"
        errorMessage="Step is requiered"
    >
        <ng-template matStepLabel>Select ad services</ng-template>

        <app-ad-target-data-form
            [formGroup]="targetAdServices"
            (formDataEmitted)="handleFormDataSubmit($event)"
        ></app-ad-target-data-form>

    </mat-step>
    <!-- select rooms to publish ad -->
    <mat-step
        errorMessage="Ad data is required!"
        state="false"
    >
        <ng-template matStepLabel>Add advertisement to room</ng-template>
        <p>
            Select rooms in which you want ad to be visible
        </p>
        <ng-template matStepLabel>Fill out your address</ng-template>

        <app-room-ad-select-form [formGroup]="roomAdSelection"></app-room-ad-select-form>
        <div>

            <button
                mat-button
                (click)="stepper.reset()"
                (click)="handleRoomDataReset()"
            >
                Reset
            </button>
        </div>
    </mat-step>
    <!-- confirm ads publish -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>

            <app-multi-step-form-navigation [canNavigateForward]="false"></app-multi-step-form-navigation>
            <button
                mat-button
                (click)="stepper.reset()"
            >
                Reset
            </button>

            <button
                *ngIf="basicAdData.valid && targetAdServices.valid"
                mat-button
            >
                Submit
            </button>
        </div>

    </mat-step>
</mat-stepper>
