<form
    [formGroup]="formGroup"
    (submit)="handleSubmit()"
>

    <mat-label>Select target services</mat-label>
    <p>
        <mat-checkbox [formControl]="formGroup.controls.google">Google</mat-checkbox>
    </p>

    <p>
        <mat-checkbox [formControl]="formGroup.controls.bing">Bing</mat-checkbox>
    </p>
    <p>
        <mat-checkbox [formControl]="formGroup.controls.amazon">Amazon</mat-checkbox>
    </p>

    <P>
        <mat-checkbox [formControl]="formGroup.controls.facebook">Facebook</mat-checkbox>
    </P>

    <p>
        <mat-checkbox [formControl]="formGroup.controls.booking">Booking</mat-checkbox>
    </p>

    <mat-error *ngIf="formGroup.hasError('requireOneCheckboxToBeChecked')">You must select at least one option</mat-error>

    <app-multi-step-form-navigation [canNavigateForward]="formGroup.valid"></app-multi-step-form-navigation>

</form>

<!-- <app-open-dialog>

    w środku miał tylko  button z podpiętym na (click) otwarcie popupu

    w zamian dyrektywa


    w tym komponencie => openAccountDialogDirective -->
