<ng-container *ngIf="(roomsWithAds$ | async) as roomsList">
    <ul *ngFor="let room of roomsList">
        <mat-card>
            <mat-card-header>
                <mat-card-title>

                    <div>Room number: {{room.roomNumber}}</div>

                </mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>
                <div *ngFor="let roomAd of room.roomAds; let i = index">
                    Campaign order number: {{i + 1}}
                    <div>
                        Campaign name: {{roomAd.adBasicDataForm.adTitle}}
                    </div>

                    <div>
                        Campaing Description: {{roomAd.adBasicDataForm.adTitle}}
                    </div>

                    <div>
                        Selected ad providers: {{roomAd.targetAdServicesForm | viewSelectedAds}}
                    </div>

                    <div>
                        Selected time of duration: {{roomAd.adBasicDataForm.campaignDuration.start | date : 'dd/MM/yyyy'}} --- {{roomAd.adBasicDataForm.campaignDuration.end | date: 'dd/MM/yyyy' }}
                    </div>
                    <mat-divider></mat-divider>

                </div>

            </mat-card-content>
        </mat-card>
    </ul>
</ng-container>
<app-multi-step-form-navigation [canNavigateForward]="false"></app-multi-step-form-navigation>

<button
    mat-button
    (click)="handleSelectedRoomsAdUpdate()"
>
    Confirm
</button>
