<!-- [ { "stepNumber": 1, "adBasicData": { "adTitle": "sdf", "adDescription": "f", "campaignDuration": { "start": "2023-04-03T22:00:00.000Z", "end": "2023-04-12T22:00:00.000Z" } } }, { "stepNumber": 2, "providers": { "google": false, "bing": false, "amazon": false, "facebook": true, "booking": true } } ] -->

<ng-container *ngIf="(roomsWithAds$ | async)as roomsList">
    <div *ngFor="let room of roomsList">
        <mat-card>
            <mat-card-header>
                <mat-card-title>

                    <div>Room number: {{room.roomNumber}}</div>

                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div>
                    Campaign name: {{room.roomAds[0].adBasicData.adTitle}}
                </div>

                <div>
                    Campaing Description: {{room.roomAds[0].adBasicData.adDescription}}
                </div>

                <div>
                    Selected ad providers: {{room.roomAds[1] | viewSelectedAds}}
                </div>

                <div>
                    Selected time of duration: {{room.roomAds[0].adBasicData.campaignDuration.start | date : 'dd/MM/yyyy'}} --- {{room.roomAds[0].adBasicData.campaignDuration.end | date: 'dd/MM/yyyy' }}
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</ng-container>
<app-multi-step-form-navigation [canNavigateForward]="false"></app-multi-step-form-navigation>

<button
    mat-button
    (click)="handleSelectedRoomsAdUpdate()"
>
    Confirm
</button>
